

*{
    color: #9ba9eb;
    color: #c3caea;
    color: #5763a5;
    color: #f8fafc;
    color: #454f84;
    color: #0b69ff;
    color: #94a3b8;
    color: #b6c3ca;
    color: #7683cb;
    color: #f59e0b;
    color: #10b981;
    color: #f97316;
    color: #14b8a6;
    color: #b91c1c;
    color: #ffffff;
    color: #0ea5e9;
    color: #64748b;
}